.p-1{
    padding: 0.30rem;
}
.p-2{
    padding: 0.50rem;
}
.p-3{
    padding: 0.70rem;
}
.p-4{
    padding: 1rem;
}
.p-5{
    padding: 1.5rem;
}
.p-6{
    padding: 1.8rem;
}
.p-7{
    padding: 2rem;
}
.p-8{
    padding: 2.30rem;
}

.p-9{
    padding: 3rem;
}
.p-10{
    padding: 4rem;
}

/* padding y */

.py-1{
    padding: 0.3rem;
}
.py-2{
    padding: 0.6rem;
}
.py-3{
    padding: 1rem;
}
.py-5{
    padding: 1.5rem;
}
.py-6{
    padding: 1.8rem;
}
.py-7{
    padding: 2rem;
}
.py-8{
    padding: 2.5rem;
}
.py-9{
    padding: 3rem;
}
.py-10{
    padding: 4rem;
}

/* padding x */

.px-1{
    padding: 0 0.3rem;
}
.px-2{
    padding: 0 0.6rem;
}
.px-3{
    padding: 0 1rem;
}
.px-5{
    padding: 0 1.5rem;
}
.px-6{
    padding: 0 1.8rem;
}
.px-7{
    padding: 0 2rem;
}
.px-8{
    padding: 0 2.5rem;
}
.px-9{
    padding: 0 3rem;
}
.px-10{
    padding: 0 4rem;
}
